*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilgan;
}


@font-face {
    font-family: Gilgan;
    src: url(../fonts/Gilgan.otf) format('opentype');
}

.container{
    width: 100%;
    height: 100%;
    background-image: url(../img/Background\ 9.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

body{
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 70%;
    max-width: 500px;
    /* background: #b38db5; */
    background: rgb(255, 255, 255, 0.02);
    border-radius: 22px;
    padding: 35px;
    position: relative;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,2);
    backdrop-filter: blur(15px);
    margin: 0 auto;
    margin-top: 5%;
    transition: all 0.4s ease;
}

.card:hover{
    background: rgb(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}

.card:hover .name{
    /* color: #080A22; */
    font-weight: 900;
    letter-spacing: 7px;
}

.roze{
    position: relative;
    width: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #c8a8b5;
    padding: 3px;
    margin-bottom: 18px;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.name{
    color: #c8a8b5;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-weight: 700;
    cursor:default;    
    transition: all 0.4s ease;
}

.buttons{
    text-align: center;
}

.boton{
    display: block;
    width: 40vh;
    margin-top: 23px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #4B4575;
    color: #c8a8b5;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.container .card .buttons .boton:hover{
    background: #1A1117;
    color: #c8a8b5;
    transform: scale(1.05);
}

.container .card .buttons .boton i{
    margin-right: 10px;
}

.container .card .buttons a{
    text-decoration: none;
}

@media (max-width: 600px) {
    .container{
        height: 100vh;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 580px;
        width: 70%;
        max-width: 500px;
    }

    .name{
        font-size: 25px;
    }

    .boton{
        width: 250px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 465px) {
    .container{
        height: 100vh;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 540px;
        width: 70%;
        max-width: 500px;
        padding: 16px;
    }

    .name{
        font-size: 25px;
    }

    .roze{
        width: 200px;
        height: 200px;
    }

    .boton{
        width: 250px;
        height: 30px;
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .container{
        height: 100vh;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        width: 70%;
        max-width: 500px;
    }

    .name{
        font-size: 21px;
    }

    .roze{
        width: 160px;
        height: 160px;
    }

    .boton{
        width: 220px;
        height: 28px;
        font-size: 17px;
    }
}

@media (max-width: 330px) {
    .container{
        height: 100vh;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1px;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        width: 70%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 auto;     
    }

    .name{
        font-size: 18px;
    }

    .roze{
        width: 120px;
        height: 120px;
    }

    .boton{
        width: 160px;
        height: 25px;
        font-size: 10px;
    }
}

@media (width < 600px) {
    .card:hover .roze{
        /* background-color: #080A22; */
        transform: scale(1.02);
    }
}

@media (width > 600px) {
    .card:hover .roze{
        /* background-color: #080A22; */
        transform: scale(1.05);
    }
}
